.App {
  text-align: center;
  color:#fefefe
}

.singin-box {
  display: flex;
  justify-content: flex-end;
}

.singin-name {
  padding: 0 5px;
}

.singin {
  display: inline-flex;
  padding: 5px 10px;
  border: 0.1em solid #aaa;
  border-radius: 10px;
  font-size: 1em;
  margin-right: 0;
  cursor: pointer;
}

.singin:hover {
  border: 0.1em solid #2e9ddd;
}

.App-header {
  height: 2em;
  margin: 0.5em 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  font-size: 1.5em;
  color: #fefefe;
}

.App-link {
  color: #61dafb;
}


.account-name {
  padding: 0 10px;
  font-size: 18px;
  font-weight: 500;
}

.account-address {
  font-size: 13px;
  color: #868686;
  font-weight: 400;
}


