.faq {
	max-width: 850px;
	width: 100%;
	display: flex;
	flex-direction: column;
	list-style: none;
	padding: 0;
}

.faq .question {
	display: block;
	font-weight: 600;
	padding: 15px 50px 15px 20px;
	margin-bottom: 20px;
	position: relative;
	background: rgba(255, 255, 255, 0.05);
	border-radius: 2px;
    cursor: pointer;
}

.faq .question::after {
	content: '';
	width: 15px;
	height: 15px;
	display: block;
	position: absolute;
	top: 20px; right: 20px;
	background: url('../../images/faq-arrow.svg') no-repeat;
	background-size: cover;
}

.faq .open .question::after {
	transform: rotate(180deg);
}

.faq .answer {
	font-size: 15px;
	line-height: 23px;
	padding: 0 20px 0px;
    transition: all 300ms ease-out;
    height: 0;
    opacity: 0;
    overflow-y: hidden;
    transition: all 300ms ease-out;
}

.faq .open .answer {
	display: block;
    height: auto;
    opacity: 1;
    margin: 20px 0;
}

/* end faq */